nav {
  display: flex;
  flex-wrap: wrap;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0); 
}
nav a {
 float: left;
 color: lemonchiffon;
 text-align: center;
 padding: 15px 20px;
 text-decoration: none;
 font-size: 18px; 
 font-family: sans-serif; 
}
nav a:hover {
  background-color: #004d66;
  color: lemonchiffon;
}
.intro {
  color: whitesmoke;
  margin: 1px;
  padding: 150px;
  font-size: 60px;
}
p {
  text-align: center;
  font-family: georgia; 
  font-size: 18px;
  background: rgb(255, 250, 205, .8); 
  border: 1px solid blue;
  color: #00008B; 
  border-radius: 25px;
  padding: 10px; 
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
body {
  background-image: url('https://cdn.wallpapersafari.com/78/85/IvDNRZ.jpg'); 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-size: cover;
  height: 100%;
  width: 100%;
  padding:0px; 
  margin:0px;
} 
#body1 { 
  background-image: url('https://images4.alphacoders.com/903/903685.png'); 
  background-repeat: no-repeat; 
  background-attachment: fixed;  
  background-size: cover; 
}
#body2 {
  background-image: url('https://images5.alphacoders.com/987/987602.jpg'); 
  background-repeat: no-repeat; 
  background-attachment: fixed;  
  background-size: cover;
}
#body3 {
  background-image: url('https://cdn.wallpapersafari.com/66/96/bp6QDO.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
#body4 {
  background-image: url('https://wallpaperaccess.com/full/3286.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
} 
#body5 {
  background-image: url('https://images7.alphacoders.com/487/487248.jpg'); 
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
h1 {
  text-align: center; 
  color: lemonchiffon;
  border: 3px solid lemonchiffon;
  border-radius: 30px;
  font-family: Times New Roman;
  width: 500px;
  margin-top: 20px;
  margin-left: 410px;
}
h1:hover{ 
  text-align: center; 
  color: lemonchiffon;
  border: 3px solid #81C6E8;
  border-radius: 30px;
  background: #81C6E8;
}
img {
 height: 350px; 
 width: 300px; 
 margin: 100px;
 border-radius: 20px; 
 border: 3px solid lemonchiffon;
}
#img1 {
 height: 300px; 
 width: 400px; 
 margin: 100px;
}
#img2 {
 height: 300px; 
 width: 400px; 
 margin: 100px;
}
.contacts {
  font-family: monospace;
  text-align: center; 
  color: lemonchiffon;
  border: 3px solid lemonchiffon;
}
.plinks{
  text-align: center; 
  border: 3px solid lemonchiffon;
  padding: 10px; 
  margin: auto;
  width: 93%;
}
.vid{
position: absolute;
top: 30%;
margin-left: 50%;
}
.music-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title{
  border: 2px solid lemonchiffon;
  border-radius: 5px;
  background: rgb(255, 250, 205, .8);
  color: #00008B; 
  padding: 10px;
  margin-bottom: 10px; 
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}